.row div {
	padding-right : 0;
	background-color: #05386B;
	border : 2px solid #379683;
	color : #EDF5E1;
}
/* Color pallets */
/* FF5607 FF9800 FFC100 FFEC19 */

.row div:hover {
	background-color : #FF5607;
}

body, .navbar {
	background-color: #8EE4AF;
}

#create-new-tab-button .row .btn {
	background-color: #FF9800;
	border: 2px solid black;

}
#create-new-tab-button .row .btn:hover {
	background-color : green;
	border-outline: dashed;
}
.tab-holder {
	margin-bottom: 10px;
}

